<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body class="bgGames">
    <div class="container-games">
      <div class="header">
        <div class="item-header">
          <a href="/"><h1><</h1></a>
          <div class="rps-logo">
            <img src="./img/logo 1.svg" alt="" />
          </div>
          <h2>ROCK PAPER SCISSORS</h2>
        </div>
      </div>
      <div class="section-game-left">
        <div class="player-container">
          <h2>PLAYER 1</h2>
          <div class="box player" id="rock">
            <img src="./img/batu.png" alt="" />
          </div>
          <div class="box player" id="paper">
            <img src="./img/kertas.png" alt="" />
          </div>
          <div class="box player" id="scissors">
            <img src="./img/gunting.png" alt="" />
          </div>
        </div>
      </div>
      <div class="section-game-right">
        <div class="player-container">
          <h2>COM</h2>
          <div class="box com" id="rock">
            <img src="./img/batu.png" alt="" />
          </div>
          <div class="box com" id="paper">
            <img src="./img/kertas.png" alt="" />
          </div>
          <div class="box com" id="scissors">
            <img src="./img/gunting.png" alt="" />
          </div>
        </div>
      </div>
      <div class="section-games-center">
        <div id="boxResult">
          <h1 class="redText" id="textResult">VS</h1>
        </div>
      </div>
      <div class="footer">
        <div class="box">
          <img src="./img/refresh.png" alt="" id="refresh" />
        </div>
      </div>
    </div>
    <script src="/js/games.js"></script>
  </body>
</html>
