<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Homepage</title>
  </head>
  <body id="index-section">
    <div class="bgIndex">
      <header>
        <div class="navbar">
          <div class="item brand"><h3>LOGO</h3></div>
          <div class="item menu">
            <ul>
              <li><a href="#">home</a></li>
              <li><a href="#">work</a></li>
              <li><a href="#">contact</a></li>
              <li><a href="#">about me</a></li>
            </ul>
          </div>
          <div class="item login">
            <ul>
              <li><a href="#">sign up</a></li>
              <li><a href="#">login</a></li>
            </ul>
          </div>
        </div>
      </header>

      <div class="content">
        <h1>play traditional game</h1>
        <h3>Experience New Traditional Game Play</h3>
        <a href="/games"><button class="btn">Play Now</button></a>
      </div>

      <div class="footer">
        <p>The Story</p>
        <div class="scroll-down"></div>
      </div>
    </div>
    <div class="containerAbout bgDua" id="about-section">
      <div class="aboutContent-left">
        <div class="about">
          <h3>What’s so special?</h3>
          <h1>The Games</h1>
        </div>
      </div>
      <div class="aboutContent-right">
        <div id="slider">
          <input type="radio" name="slider" id="slide1" checked />
          <input type="radio" name="slider" id="slide2" />
          <input type="radio" name="slider" id="slide3" />
          <input type="radio" name="slider" id="slide4" />
          <div id="slides">
            <div id="overflow">
              <div class="inner">
                <div class="slide slide_1">
                  <div class="slide-content"></div>
                </div>
                <div class="slide slide_2">
                  <div class="slide-content"></div>
                </div>
                <div class="slide slide_3">
                  <div class="slide-content"></div>
                </div>
                <div class="slide slide_4">
                  <div class="slide-content"></div>
                </div>
              </div>
            </div>
          </div>
          <div id="controls">
            <label for="slide1"></label>
            <label for="slide2"></label>
            <label for="slide3"></label>
            <label for="slide4"></label>
          </div>
          <div id="bullets">
            <label for="slide1"></label>
            <label for="slide2"></label>
            <label for="slide3"></label>
            <label for="slide4"></label>
          </div>
        </div>
      </div>
    </div>
    <div class="containerFeatures bgFeatures" id="features-section">
      <div class="contentTiga">
        <div class="feature">
          <div class="item-satu">
            <h3>What’s so special?</h3>
            <h1>features</h1>
          </div>
          <div class="item-dua">
            <ul class="ulFeature">
              <li><span>Traditional Games</span></li>
              <p>
                If you miss your childhood, we provide many traditional games
                here
              </p>
              <li><span>Game Suit</span></li>
              <li><span>TBD</span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="containerSystem bgSystem" id="req-section">
      <div class="top"><h3>Can My Computer Run this game?</h3></div>
      <div class="title">
        <h1>SYSTEM REQUIRETMENTS</h1>
      </div>
      <div class="contentEmpat">
        <table>
          <tr>
            <td>
              <label>OS:</label>
              <p>Windows 7 64-bit only (No OSX support at this time)</p>
            </td>
            <td>
              <label>Processor:</label>
              <p>Intel Core 2 Duo @ 2.4 GHZ or AMD Athlon X2 @ 2.8 GHZ</p>
            </td>
          </tr>
          <tr>
            <td>
              <label>Memory:</label>
              <p>4 GB RAM</p>
            </td>
            <td>
              <label>Storage:</label>
              <p>8 GB available space</p>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <label>Graphics:</label>
              <p>
                NVIDIA GeForce GTX 660 2GB or AMD Radeon HD 7850 2GB DirectX11
                (Shader Model 5)
              </p>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="containerQuote bgLima" id="quote-section">
      <div class="content-satu">
        <div class="section-left">
          <h1>Top Scores</h1>
          <p>This top score from various games provided on this platform</p>
          <button>See More</button>
        </div>
      </div>
      <div class="content-dua">
        <div class="quote1">
          <div class="card">
            <header>
              <img
                src="./img/image.jpg"
                alt="Quincy Larson's profile picture"
                class="profile-thumbnail"
              />
              <div class="profile-name">
                <h3>Evan Lahti</h3>
                <h4>PC Gamer</h4>
              </div>
              <div class="twitter"></div>
            </header>
            <div id="inner">
              <p>“One of my gaming highlights of the year.”</p>
              <p id="date">October 18, 2018</p>
            </div>
          </div>
        </div>
        <div class="quote2">
          <div class="card">
            <header>
              <img
                src="./img/image2.jpg"
                alt="Quincy Larson's profile picture"
                class="profile-thumbnail"
              />
              <div class="profile-name">
                <h3>Jada Griffin</h3>
                <h4>Nerdreactor</h4>
              </div>
              <div class="twitter"></div>
            </header>
            <div id="inner">
              <p>
                “The next big thing in the world of streaming and survival
                games.”
              </p>
              <p id="date">December 21, 2018</p>
            </div>
          </div>
        </div>
        <div class="quote3">
          <div class="card">
            <header>
              <img
                src="./img/image3.jpg"
                alt="Quincy Larson's profile picture"
                class="profile-thumbnail"
              />
              <div class="profile-name">
                <h3>Aaron Williams</h3>
                <h4>Uproxx</h4>
              </div>
              <div class="twitter"></div>
            </header>
            <div id="inner">
              <p>
                “Snoop Dogg Playing The Wildly Entertaining ‘SOS’ Is
                Ridiculous.”
              </p>
              <p id="date">December 24, 2018</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bgEnam">
      <div class="containerSubcribe">
        <div class="content-right">
          <div class="item-right">
            <h3>Want to stay in touch?</h3>
            <h1>Newsletter Subscribe</h1>
            <p>
              In order to start receiving our news, all you have to do is enter
              your email address. Everything else will be taken care of by us.
              We will send you emails containing information about game. We
              don’t spam.
            </p>
            <div class="input-box">
              <div class="box">
                <p id="date">Your email address</p>
                <input type="text" placeholder="youremail@binar.co.id" />
              </div>
              <button>Subscribe Now</button>
            </div>
          </div>
        </div>
        <div class="content-left">
          <div class="skull"><img src="./img/skull.png" /></div>
        </div>
        <div class="footer1">
          <div class="footer1-left">
            <ul class="items">
              <li id="left"><a href="#index-section">main</a></li>
              <li><a href="#about-section">about</a></li>
              <li><a href="#features-section">game features</a></li>
              <li><a href="#req-section">system requirements</a></li>
              <li><a href="#quote-section">quotes</a></li>
            </ul>
          </div>
          <div class="footer1-right">
            <ul class="items">
              <li><div class="facebook"></div></li>
              <li><div class="twitter-sub"></div></li>
              <li><div class="youtube"></div></li>
              <li><div class="twitch"></div></li>
            </ul>
          </div>
        </div>
        <div class="footer2">
          <div class="footer2-top">
            <hr />
          </div>
          <div class="footer2-left">
            <p id="date">© 2018 Your Games, Inc. All Rights Reserved</p>
          </div>
          <div class="footer2-right">
            <div class="text">
              <p id="privacy">
                Privacy Policy | Terms of Services | Code of Conduct
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="script.js"></script>
  </body>
</html>
