<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
    crossorigin="anonymous"
  />
    <title>Document</title>
</head>
<body>

    <div class="container-fluid">
        <div class="row">
            <div class="col-6 col-md-4"></div>
            <div class="col-6 col-md-4">
              <table class="table table-striped mt-5">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">User ID</th>
                    <th scope="col">Match ID</th>
                    <th scope="col">Win</th>
                    <th scope="col">Lose</th>
                    <th scope="col">Win Rate</th>
                  </tr>
                </thead>
                <tbody>
                  <% leaderboards.forEach(leaderboard => { %>
    
                  <tr>
                    <th scope="row"><%= leaderboard.id %></th>
                    <td><%= leaderboard.user_leaderboard_id %></td>
                    <td><%= leaderboard.user_match_id %></td>
                    <td><%= leaderboard.user_win %></td>
                    <td><%= leaderboard.user_lose %></td>
                    <td><%= leaderboard.user_win_rate %></td>
                   
    
                  <% }) %>
                </tbody>
                <table>
            </div>
          </div>
    </div>
   
</body>
</html>