<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/adminlte.min.css" />

    <title>Login</title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-6 col-md-4"></div>
        <div class="col-6 col-md-4">
          <div class="card card-primary mt-5">
            <div class="card-header">
              <h3 class="card-title">LOGIN</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form method="POST" action="/login">
              <div class="card-body">
                <div class="form-group">
                  <label for="username">Username</label>
                  <input
                    type="text"
                    class="form-control"
                    name="username"
                    id="username"
                    placeholder="Enter username"
                  />
                </div>

                <div class="form-group">
                  <label for="password">Password</label>
                  <input
                    type="password"
                    class="form-control"
                    name="password"
                    id="password"
                    placeholder="Enter password"
                  />
                </div>
              </div>
              <!-- /.card-body -->
              <div class="card-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
