<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
    crossorigin="anonymous"
  />
    <title>Document</title>
</head>
<body>

    <div class="container-fluid">
        <div class="row">
            <div class="col-6 col-md-4"></div>
            <div class="col-6 col-md-4">
              <table class="table table-striped mt-5">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Player 1 ID</th>
                    <th scope="col">Player 2 ID</th>
                    <th scope="col">Player 1 Choice</th>
                    <th scope="col">Player 2 Choice</th>
                    <th scope="col">Player 1 Result</th>
                    <th scope="col">Player 2 Result</th>
                  </tr>
                </thead>
                <tbody>
                  <% matches.forEach(match => { %>
    
                  <tr>
                    <th scope="row"><%= match.id %></th>
                    <td><%= match.player_1_id %></td>
                    <td><%= match.player_2_id %></td>
                    <td><%= match.player_1_choice %></td>
                    <td><%= match.player_2_choice %></td>
                    <td><%= match.player_1_result %></td>
                    <td><%= match.player_2_result %></td>
                   
    
                  <% }) %>
                </tbody>
                <table>
            </div>
          </div>
    </div>
   
</body>
</html>