<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/adminlte.min.css" />

    <title>Dashboard</title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-6 col-md-4"></div>
        <div class="col-6 col-md-4">
          <div class="card card-primary mt-5">
            <div class="card-header">
              <h3 class="card-title">Register Form</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form method="POST" action="/register">
              <div class="card-body">
                <div class="form-group">
                  <label for="username">Username</label>
                  <input
                    type="text"
                    class="form-control"
                    name="username"
                    id="username"
                    placeholder="Enter username"
                  />
                </div>

                <div class="form-group">
                  <label for="email">Email</label>
                  <input
                    type="email"
                    class="form-control"
                    name="email"
                    id="email"
                    placeholder="Enter email"
                  />
                </div>

                <div class="form-group">
                  <label for="password">Password</label>
                  <input
                    type="password"
                    class="form-control"
                    name="password"
                    id="email"
                    placeholder="Enter password"
                  />
                </div>

                <div class="form-group">
                  <label for="first_name">First Name</label>
                  <input
                    type="text"
                    class="form-control"
                    name="first_name"
                    id="first_name"
                    placeholder="Enter first name"
                  />
                </div>

                <div class="form-group">
                  <label for="last_name">Last Name</label>
                  <input
                    type="text"
                    class="form-control"
                    name="last_name"
                    id="last_name"
                    placeholder="Enter last name"
                  />
                </div>

                <div class="form-check">
                  <input
                    type="radio"
                    name="sex"
                    id="male"
                    value="0"
                    class="form-check-input"
                  />
                  <label class="form-check-label" for="male">Male</label>
                </div>

                <div class="form-check">
                  <input
                    type="radio"
                    name="sex"
                    id="female"
                    value="1"
                    class="form-check-input"
                  />
                  <label class="form-check-label" for="female">Female</label>
                </div>

                <div class="form-group">
                  <label for="dob">Date of Birth</label>
                  <input
                    type="date"
                    class="form-control"
                    name="dob"
                    id="dob"
                    placeholder="1990-01-01"
                  />
                </div>

                <div class="form-group">
                  <label for="address">Address</label>
                  <input
                    type="text"
                    class="form-control"
                    name="address"
                    id="address"
                    placeholder="Enter address"
                  />
                </div>
              </div>
              <!-- /.card-body -->
              <div class="card-footer">
                <a class="btn btn-primary" href="/user" role="button">Back</a>
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- /.card -->

    <!-- general form elements -->
  </body>
</html>
