<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
      crossorigin="anonymous"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-6 col-md-4"></div>
        <div class="col-6 col-md-4">
          <table class="table table-striped mt-5">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Username</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Detail</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
              </tr>
            </thead>
            <tbody>
              <% users.forEach(user => { %>

              <tr>
                <th scope="row"><%= user.id %></th>
                <td><%= user.username %></td>
                <td><%= user.first_name %></td>
                <td><%= user.last_name %></td>
                <td>
                  <a href="/dashboard/user/detail/<%= user.id %>">Detail</a>
                </td>
                <td>
                  <a href="/dashboard/user/update/<%= user.id %>">Edit</a>
                </td>
                <td>
                  <a href="/dashboard/user/delete/<%= user.id %>">Delete</a>
                </td>
              </tr>

              <% }) %>
            </tbody>
          </table>

          <a class="btn btn-primary" href="/dashboard" role="button">Back</a>
          <a
            class="btn btn-primary"
            href="/dashboard/user/register"
            role="button"
            >Add</a
          >
        </div>
      </div>
    </div>
  </body>
</html>
;
