html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: Open Sans;
}

h1 {
  font-family: Arial;
  letter-spacing: 3px;
  font-size: 6rem;
  color: white;
  text-transform: uppercase;
}

h3 {
  font-size: 2rem;
  color: white;
  font-weight: 700;
  font-family: Arial;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: ffb548;
}

button {
  margin-top: 50px;
  width: 260px;
  height: 60px;
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 4px;
  background: linear-gradient(194.68deg, #ffb548 11.27%, #f3af34 90.4%);
  border: 2px solid #ffb548;
  cursor: pointer;
  transition-duration: 0.4s;
}

button:hover {
  color: white;
  transform: scale(1.1);
}

span {
  margin-left: 6px;
}

/* ------------------------------------------------------------------ Index Section ------------------------------------ */

.bgIndex {
  background-image: url(../img/main-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
}

.navbar {
  width: 100%;
  height: 90px;
  display: grid;
  background: rgba(0, 0, 0, 0.5);
  grid-template-columns: 0.5fr 2fr 1fr;
  grid-template-areas: "brand menu login";
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item.menu ul,
.item.login ul {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.item.menu li,
.item.login li {
  padding: 0 60px;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  box-sizing: border-box;
}

.brand {
  grid-area: brand;
  color: white;
}

.menu {
  grid-area: menu;
}

.login {
  grid-area: login;
}

.content {
  width: 90%;
  margin: 220px auto 0 auto;
  box-sizing: border-box;
  text-align: center;
}

.scroll-down {
  background-image: url(../img/scroll\ down.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 15px;
  height: 15px;
  margin: 0 auto;
}

.footer {
  width: 100%;
  height: 60px;
  margin-top: 17%;
  text-align: center;
}

/* ------------------------------------------------------------------ Features Section ------------------------------------ */

.bgFeatures {
  background-image: url(../img/features.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
}

.containerFeatures {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  grid-template-areas:
    "header header"
    ". content"
    "footer footer";
}

.contentTiga {
  grid-area: content;
}

.feature {
  height: 100%;
  width: 50%;
  grid-area: feature;
  display: grid;
  grid-template-rows: 1fr 2fr;
  grid-template-areas:
    "item1"
    "item2";
}

.item-satu {
  grid-area: item1;
}

.item-dua {
  grid-area: item2;
}

.item-satu h3 {
  margin: 0;
  font-weight: 400;
}

.item-satu h1 {
  margin: 0;
  font-weight: 400;
}

.item-dua li {
  font-size: 2rem;
  letter-spacing: 2px;
  color: #ffb548;
  text-transform: uppercase;
  margin-top: 36px;
}

.ulFeature p {
  font-family: Open Sans;
  font-size: 1.3rem;
  font-weight: 400px;
  color: white;
  margin-bottom: 28px;
}

.footer p {
  font-weight: 700;
  color: white;
  text-transform: uppercase;
}

/* ------------------------------------------------------------------ System Requirements Section ------------------------------------ */

.bgSystem {
  background-image: url(../img/requirements.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
}

.containerSystem {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr 3fr 0.5fr;
  grid-template-areas:
    "top top"
    "header ."
    "content ."
    "footer footer";
}

.top {
  grid-area: top;
  place-self: end center;
}

.top h3 {
  margin: 0;
  font-family: Arial;
  font-weight: 400;
}

.title {
  grid-area: header;
}

.title h1 {
  width: 70%;
  font-family: Arial;
  font-size: 4.6rem;
  font-weight: 400;
  margin: auto;
}

table,
td {
  border: 1px solid #979797;
  box-sizing: border-box;
}

table {
  width: 70%;
  margin: auto;
  border-collapse: collapse;
}

td {
  padding: 14px 20px 36px 10px;
  box-sizing: border-box;
}

td:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.contentEmpat label {
  font-family: Arial;
  font-size: 2rem;
  letter-spacing: 2px;
  color: #ffb548;
  text-transform: uppercase;
}

.contentEmpat p {
  color: white;
  font-family: Open Sans;
  font-size: 1.3rem;
}

.contentEmpat {
  grid-area: content;
}

/* ------------------------------------------------------------------ Quote Section ------------------------------------ */

.bgLima {
  background-image: url(../img/top-score-bg.png);
  background-color: rgb(0, 0, 0);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
}

.containerQuote {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 3fr 1fr;
  grid-template-areas:
    "header header"
    "content content2"
    "footer footer";
}

.content-satu {
  grid-area: content;
}

.section-left {
  margin-left: 20%;
  margin-top: 13%;
}

.section-left h1 {
  letter-spacing: 3px;
  font-weight: 400;
  font-family: Arial;
}

.section-left p {
  color: white;
  font-size: 1.3rem;
  width: 379px;
}

.content-dua {
  width: 100%;
  height: 100%;
  grid-area: content2;
  display: grid;
  grid-template-rows: repeat (3, 1fr);
  grid-template-areas:
    "quote1"
    "quote2"
    "quote3";
  grid-gap: 15px;
}

.quote1 {
  grid-area: quote1;
  justify-self: center;
}

.quote2 {
  grid-area: quote2;
}

.quote3 {
  grid-area: quote3;
  justify-self: center;
}

.card {
  width: 450px;
  height: 95%;
  border-radius: 10px;
  background-color: #1b1c1c;
  transition-duration: 0.4s;
}

.card:hover {
  transform: scale(1.1);
}

header {
  display: flex;
  flex-direction: row;
}

.twitter {
  background-image: url(../img/twitter.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 15px;
  height: 15px;
  display: flex;
  margin: 30 20 0 auto;
}

.card img {
  border-radius: 50%;
  width: 65px;
  height: 65px;
  margin: 12 0 0 12;
  box-shadow: 8px 3px #ffb548;
}

.card .profile-name {
  color: white;
}

.card h3,
.card h4 {
  display: flex;
  margin: 0;
}

.card h3 {
  font-family: Arial;
  font-weight: 400;
  margin: 25px 0 0 25px;
  color: #ffb548;
  font-weight: 400px;
  letter-spacing: 2px;
}

.card h4 {
  margin-left: 25px;
  font-size: 1.3rem;
  font-family: Open Sans;
  color: #8c8c8d;
  font-weight: 400;
}

.card p {
  color: white;
  margin: 26px 0 0 16px;
  font-size: 1.3rem;
  box-sizing: border-box;
}

#date {
  margin: 9px 0 0 16px;
  font-size: 1.1rem;
  color: #8c8d8d;
  box-sizing: border-box;
}

/* ------------------------------------------------------------------ Subcribe Section ------------------------------------ */

.bgEnam {
  background-image: url(../img/subscribe.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.containerSubcribe {
  margin: auto;
  height: 100%;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 4fr 0.5fr 0.5fr;
  grid-template-areas:
    "content1 content2"
    "footer1 footer1"
    "footer2 footer2";
}

.content-right {
  grid-area: content2;
  place-self: center end;
}

.item-right h3 {
  font-family: Arial;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 2px;
  margin: 0;
}

.item-right h1 {
  font-family: Arial;
  font-weight: 400;
  letter-spacing: 2px;
  margin: 0;
}

.item-right p {
  font-size: 1.3rem;
  font-weight: 400;
  color: white;
  margin-top: 50px;
}

.input-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

input[type="text"] {
  width: 100%;
  padding-left: 16px;
  margin-top: 5px;
  border: none;
  background-color: #1b1d1e;
  color: #ffb548;
}

input:focus {
  outline: none;
}

.box-email h4 {
  margin: 0;
}

.box-email {
  margin-top: 50px;
  margin-right: 18px;
  background-color: #1b1d1e;
  height: 60px;
  width: 50%;
}

.content-left {
  grid-area: content1;
  place-self: end center;
}

.footer1 {
  grid-area: footer1;
  display: grid;
  grid-template-columns: repeat (2, 1fr);
  grid-template-areas: "left right";
  align-self: center;
  justify-self: end;
}

.footer1-left {
  grid-area: left;
  margin-right: 85px;
}

.footer-right {
  grid-area: right;
}

.items {
  display: flex;
  flex-direction: row;
}

ul.items {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

.items li {
  margin-left: 60px;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 10%;
  text-transform: uppercase;
}

.twitter-sub {
  background-image: url(../img/twittersub.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 21px;
  height: 16px;
}

.twitch {
  background-image: url(../img/twitch.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 19px;
  height: 18px;
}

.youtube {
  background-image: url(../img/Vector.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 25px;
  height: 18px;
}

.facebook {
  background-image: url(../img/facebook.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 9px;
  height: 19px;
}

.footer2 {
  grid-area: footer2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 0.5fr 1fr;
  grid-template-areas:
    "top top"
    "left right";
}

.footer2-top {
  grid-area: top;
}

.text #date {
  margin: 0;
  padding: 0;
}

hr {
  margin: 0;
}

.footer2-left {
  grid-area: left;
}

.footer2-right {
  grid-area: right;
  place-self: start end;
}

.text #privacy {
  font-size: 1rem;
  font-family: Open Sans;
  color: white;
  font-weight: 700;
  letter-spacing: 1px;
}

/* ------------------------------------------------------------------ About Section ------------------------------------ */

.bgDua {
  background-image: url(../img/the-games-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.containerAbout {
  margin: auto;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-template-areas: "content1 content2";
}

.aboutContent-left {
  grid-area: content1;
  place-self: start end;
}

.aboutContent-right {
  grid-area: content2;
  place-self: center start;
}

.about {
  margin-top: 30%;
}

.about h1,
h3 {
  margin: 0;
  font-weight: 400;
}

#slider {
  margin: 0 auto;
  width: 850px;
  max-width: 100%;
  text-align: center;
}

#slider input[type="radio"] {
  display: none;
}

#slider label {
  cursor: pointer;
  text-decoration: none;
}

#slides {
  padding: 10px;
  position: relative;
  z-index: 1;
}

#overflow {
  width: 100%;
  overflow: hidden;
}

#slide1:checked ~ #slides .inner {
  margin-left: 0;
}

#slide2:checked ~ #slides .inner {
  margin-left: -100%;
}

#slide3:checked ~ #slides .inner {
  margin-left: -200%;
}

#slide4:checked ~ #slides .inner {
  margin-left: -300%;
}

/* Size Box */
#slides .inner {
  transition: margin-left 800ms cubic-bezier(0.77, 0, 0.175, 1);
  width: 400%;
  line-height: 0;
  height: 500px;
}

#slides .slide {
  width: 25%;
  float: left;
  display: block;
  height: 100%;
  color: #fff;
}

#slides .slide_1 {
  background-image: url(../img/rockpaperstrategy-1600.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
}

#slides .slide_2 {
  background-image: url(../img/main-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
}

#slides .slide_3 {
  background-image: url(../img/requirements.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
}

#slides .slide_4 {
  background-image: url(../img/features.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
}

.slide-content {
  padding: 10px;
}
#controls {
  margin: -130px 0 0 0;
  width: 100%;
  height: 50px;
  z-index: 3;
  position: relative;
}
#controls label {
  transition: opacity 0.2s ease-out;
  display: none;
  width: 50px;
  height: 50px;
  opacity: 0.4;
}

#controls label:hover {
  opacity: 1;
}
#slide1:checked ~ #controls label:nth-child(2),
#slide2:checked ~ #controls label:nth-child(3),
#slide3:checked ~ #controls label:nth-child(4),
#slide4:checked ~ #controls label:nth-child(1) {
  background: url(../img/switch.svg) no-repeat;
  float: right;
  margin: -50px;
  display: block;
}
#slide1:checked ~ #controls label:nth-last-child(1),
#slide2:checked ~ #controls label:nth-last-child(4),
#slide3:checked ~ #controls label:nth-last-child(3),
#slide4:checked ~ #controls label:nth-last-child(2) {
  background: url(..img/switch2.svg) no-repeat;
  float: left;
  margin: -50px;
  display: block;
}
#bullets {
  margin: 100px auto;
  text-align: center;
}
#bullets label {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-left: 50px;
  border: 1px solid white;
  border-radius: 100%;
}
#slide1:checked ~ #bullets label:nth-child(1),
#slide2:checked ~ #bullets label:nth-child(2),
#slide3:checked ~ #bullets label:nth-child(3),
#slide4 :checked ~ #bullets label:nth-child(4) {
  background: white;
}

/* ------------------------------------------------------------------ Features Section ------------------------------------ */

.bgGames {
  background-color: #9c835f;
  height: 100%;
  width: 100%;
}

.container-games {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  grid-template-rows: 0.5fr 2fr 0.5fr;
  grid-template-areas:
    "header header header"
    "contentLeft contentCenter contentRight"
    ". footer .";
}

.player-container h2 {
  margin-top: 0;
}

.container-games .header {
  grid-area: header;
}

.item-header {
  display: flex;
  flex-direction: row;
}

.rps-logo img {
  width: 72px;
  height: 72px;
  margin: 27;
}

.item-header h2 {
  font-size: 3rem;
  color: #f9b23d;
  margin: 40 0 0 0;
}

.item-header h1 {
  color: 724c21;
  margin: 27 27 0 27;
}

.section-game-left {
  grid-area: contentLeft;
  place-self: center end;
}

.player-container {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.section-game-left .player-container {
  margin-right: 50px;
}

.section-game-right .player-container {
  margin-left: 50px;
}

.player-container .box {
  margin: 25px 0 0 0;
  width: 223px;
  height: 204px;
  display: grid;
  border-radius: 30px;
  grid-template-columns: 1fr;
}

.box-img {
  width: 77px;
  height: 71px;
  display: grid;
  grid-template-columns: 1fr;
}

.section-game-left .box:hover {
  background-color: #c4c4c4;
}

.bgGrey {
  background-color: #c4c4c4;
}

.player-container .box img {
  width: 70%;
  height: 70%;
  place-self: center;
}

.footer .box img {
  width: 77px;
  height: 71px;
  transition: 0.5s;
}

.footer .box img:hover {
  transform: scale(1.2);
}

.player-container h2 {
  letter-spacing: 10px;
  font-size: 3rem;
  margin-bottom: 0;
}

.redText {
  color: #bd0000;
  font-size: 12rem;
  letter-spacing: 10px;
}

.section-game-right {
  grid-area: contentRight;
  place-self: center start;
}

.section-games-center {
  grid-area: contentCenter;
  place-self: center;
}

.boxResult {
  width: 270px;
  height: 160px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "resultCenter";
  background-color: #4c9654;
  border-radius: 10px;
  transform: rotate(-28.87deg);
}

.textResult {
  grid-area: resultCenter;
  font-size: 3.2rem;
  font-weight: 700;
  text-align: center;
  place-self: center;
}

.container-games .footer {
  grid-area: footer;
  place-self: center;
  margin-top: 0;
}
